// Fade and Slide Animations
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-and-fade-left {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes slide-and-fade-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

@keyframes slide-and-fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-10px);
      }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-and-fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(10px);
      }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

// Animation Classes
.animate-fade {
  animation: fade-in-out 3s ease-out forwards;
}

.animate-slide-from-left {
  animation: slide-and-fade-left 3s ease-out forwards;
}

.animate-slide-from-right {
  animation: slide-and-fade-right 3s ease-out forwards;
}

.animate-slide-in-left-delayed {
  opacity: 0;
  animation: slide-and-fade-in-left 1s ease-out forwards;
  animation-delay: 3s;
}

.animate-slide-in-right-delayed {
    opacity: 0;
    animation: slide-and-fade-in-right 1s ease-out forwards;
    animation-delay: 3s;
  }