@use '../../styles/variables' as *;

.header {
  position: absolute;
  white-space: nowrap;

  &.center {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;

    .text-container {
      font-size: clamp(1rem, min(4vw, 4vh), 2rem);
      padding: 0 20px;
      max-width: 90%;
      transform: scale(var(--scale, 1));

      @media (max-width: 1097px) {
        flex-direction: column;
        text-align: center;
        gap: 4px;

        .separator {
          display: none;
        }
      }
    }
  }

  .text-container {
    display: flex;
    gap: clamp(4px, 1vw, 8px);
    align-items: center;
    font-size: clamp(0.75rem, 2vw, 1rem);
    letter-spacing: 0.5px;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 768px) {
      font-size: clamp(1rem, 1.5vw, 1.25rem);
    }

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      .name {
        font-size: 1.2em;
        margin-bottom: 2px;
      }

      .separator {
        display: none;
      }

      .title {
        font-size: 0.9em;
      }
    }
  }

  .name, .separator {
    color: var(--text-color);
  }

  .title {
    color: var(--text-color-secondary);
  }

  .separator {
    margin: 0 clamp(2px, 1vw, 4px);
  }
} 