header nav>div {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    #settings-icon {
        $rotation: 90deg;
        transform: rotate($rotation);
        transition: transform 0.5s linear;

        &.open {
            transform: rotate(-$rotation);
        }
    }
}

[role='presentation'] {
    .MuiDialogContent-root {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}