header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px 0px;

    #logo {
        width: 20px;
    }

    .settings-container {
        display: flex;
        align-items: center;
        gap: 20px;

        &-inner {
            display: flex;
            gap: 40px;
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            transform-origin: right;
            transition: all 0.8s ease-out;
            pointer-events: none;

            [itemid="locale-selector"] {
                min-width: 300px;
            }
        }

        #settings-icon {
            cursor: pointer;
            transform: rotate(180deg);
            transition: transform 0.8s linear;
        }
    }

    &.expanded {
        .settings-container {

            &-inner {
                opacity: 1;
                visibility: visible;
                transform: translateX(0%);
                pointer-events: all;
            }

            #settings-icon {
                transform: rotate(-180deg);
            }
        }
    }
}