@use '../../styles/variables' as *;

.settings-button {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  color: var(--text-color-secondary);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 10;
  font-size: calc(clamp(0.75rem, 2vw, 1rem) * 1.2);
  line-height: 0;
  height: fit-content;

  // Align with single line text
  top: 17px;

  @media (max-width: 700px) {
    // Align with the name on mobile
    top: 24px;
    transform: none;
  }

  svg {
    width: 1em;
    height: 1em;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.active {
    color: var(--text-color);
  }
}

.settings-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 4vw, 40px);
  padding: clamp(20px, 4vw, 40px);
}

.settings-section {
  width: 100%;
  max-width: min(300px, 90%);

  label {
    display: block;
    margin-bottom: clamp(4px, 1vw, 8px);
    color: var(--text-color);
    font-weight: 500;
    font-size: clamp(0.875rem, 2vw, 1rem);
  }

  select {
    width: 100%;
    padding: clamp(6px, 1.5vw, 8px);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    color: var(--text-color);
    cursor: pointer;
    font-size: clamp(0.875rem, 2vw, 1rem);
  }
}

.theme-buttons {
  display: flex;
  gap: clamp(4px, 1vw, 8px);

  .theme-button {
    flex: 1;
    padding: clamp(6px, 1.5vw, 8px) clamp(12px, 2vw, 16px);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--card-bg);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s;
    font-size: clamp(0.875rem, 2vw, 1rem);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background: var(--text-color);
      color: var(--card-bg);
    }
  }
}

.main-content {
  position: absolute;
  inset: 0;
} 