@use '../../../styles/variables' as *;

.settings-button {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    color: var(--text-color-secondary);
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 10;
    font-size: calc(clamp(0.75rem, 2vw, 1rem) * 1.2);
    line-height: 0;
    height: fit-content;
  
    // Align with single line text
    top: 17px;
  
    @media (max-width: 700px) {
      // Align with the name on mobile
      top: 24px;
      transform: none;
    }
  
    svg {
      width: 1em;
      height: 1em;
    }
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  
    &.active {
      color: var(--text-color);
    }
  }